In [11]:
import pandas as pd
date = {'Name': ["John","Anna","Peter","Linda"],
       'Location' : ["New York","Paris","Berlin","London"],
        'Age' : [24,13,53,33]
       }

In [12]:
data_pandas = pd.DataFrame(date)
display(data_pandas)

    Name  Location  Age
0   John  New York   24
1   Anna     Paris   13
2  Peter    Berlin   53
3  Linda    London   33

In [13]:
display(data_pandas[data_pandas.Age > 30])

    Name Location  Age
2  Peter   Berlin   53
3  Linda   London   33

In [19]:
import sys
print("Python version:",sys.__version__)
import pandas as pd
print("pandas version:",pd.__version__)
import matplotlib
print("matplotlib version:",matplotlib.__version__)
import numpy as np
print("Numpy version:",np.__version__)
import scipy as sp
print("SciPy version:",sp.__version__)
import IPython
print("IPython version:",IPython.__version__)
import sklearn
print("scikit-learn version:",sklearn.__version__)

AttributeError: module 'sys' has no attribute '__version__'

In [ ]:
Python version:3.7.6 (default, JAn 2 2020, 2:23:39) [MSC v. 1916 64 bit (AMD64)]
pandas version:1.0.3
matplotlib version:3.1.3
Numpy version:1.18.1
SciPy version: 1.4.1
IPython version:7.13.0